.App {
    text-align: center;
    padding-top: 3rem;
}

.SearchForm-wrapper {
    display: flex;
    justify-content: center;
}

.MovieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.25rem;
}

.MovieList-item {
    margin-bottom: 0.5rem;
    width: 48%;
}